.video {
  @include flex(column, center, center, false);

  h1 {
    @include ff-gothic;
    @include font-size($text-xl);
    color: #62205b;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  h2 {
    @include ff-gothic;
    @include font-size($text-m);
    color: $white;
    text-align: center;
    margin-bottom: 32px;
  }

  .video_container {
    width: 100%;

    @media (min-width: 640px) and (max-width: 1360px) {
      width: 80%;
    }

    video {
      width: 100%;
    }
  }
}