/* Core variables and mixins */
/* Typography CSS */
@font-face {
  font-display: fallback;
  font-family: "Gothic";
  src: url(../fonts/Neuland_Grotesk_Medium_Expanded.ttf);
}
/* Global CSS */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.background {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: url("../images/bg.png"), radial-gradient(circle, #fedc79 0%, #db1a3d 88%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
}

.wrapper {
  width: 100%;
  padding: 40px 0px 120px 0px;
}

input, select {
  outline: none;
}

.btn {
  position: relative;
  z-index: 1;
  outline: none;
  border: none;
  background-color: #f7aa08;
  border-radius: 5px;
  cursor: pointer;
  padding: 14px 32px 8px 32px;
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
  transition: transform 0.2s cubic-bezier(0.65, 0.39, 0.5, 1.63);
}
@media screen and (min-width: 640px) {
  .btn {
    font-size: 18px;
  }
}
.btn:hover {
  transform: translateY(-4px);
}

/* Components */
.modal_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 80px 16px;
  background-color: rgba(131, 9, 37, 0.25);
}
.modal_container.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.modal_container .modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 820px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
}
.modal_container .modal h3 {
  margin-bottom: 32px;
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: #db203b;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .modal_container .modal h3 {
    font-size: 64px;
  }
}
@media (max-width: 640px) {
  .modal_container .modal h3 {
    font-size: 24px !important;
  }
}
.modal_container .modal p {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #db203b;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .modal_container .modal p {
    font-size: 42px;
  }
}
.modal_container .modal svg {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s cubic-bezier(0.65, 0.39, 0.5, 1.63);
}
.modal_container .modal svg:hover {
  transform: scale(1.15);
}
@media (max-width: 640px) {
  .modal_container .modal svg {
    width: 20px;
  }
}

.zocalo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px;
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: black;
}
@media screen and (min-width: 640px) {
  .zocalo {
    font-size: 18px;
  }
}
.zocalo.faded {
  background-color: rgba(0, 0, 0, 0.7);
}
.zocalo a {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 640px) {
  .zocalo a {
    font-size: 18px;
  }
}

/* Pages */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.login h1 {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: white;
  text-align: center;
  margin-bottom: 33px;
}
@media screen and (min-width: 640px) {
  .login h1 {
    font-size: 84px;
  }
}
.login .login_container {
  max-width: 780px;
  width: 100%;
  padding: 40px 24px 80px 24px;
  border-radius: 10px;
  background-color: white;
}
.login .login_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.login .login_container form label {
  margin-bottom: 60px;
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #db203b;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .login .login_container form label {
    font-size: 42px;
  }
}
.login .login_container form input[type=text] {
  max-width: 462px;
  width: 100%;
  margin-bottom: 40px;
  padding: 16px 20px;
  border: 1px solid #db203b;
  border-radius: 10px;
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #db203b;
}
@media screen and (min-width: 640px) {
  .login .login_container form input[type=text] {
    font-size: 18px;
  }
}
.login .login_container form input[type=text]::placeholder {
  color: #db203b;
  transition: all 0.3s ease-in-out;
}
.login .login_container form input[type=text]:focus::placeholder {
  opacity: 0.5;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.video h1 {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #62205b;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 12px;
}
@media screen and (min-width: 640px) {
  .video h1 {
    font-size: 84px;
  }
}
.video h2 {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 640px) {
  .video h2 {
    font-size: 42px;
  }
}
.video .video_container {
  width: 100%;
}
@media (min-width: 640px) and (max-width: 1360px) {
  .video .video_container {
    width: 80%;
  }
}
.video .video_container video {
  width: 100%;
}

.jackpot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.jackpot h1 {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 32px;
}
@media screen and (min-width: 640px) {
  .jackpot h1 {
    font-size: 84px;
  }
}
.jackpot .jackpot_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1000px;
  width: 100%;
  padding: 72px 24px;
  background-color: white;
  border-radius: 10px;
}
.jackpot .jackpot_container h2 {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #db203b;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 640px) {
  .jackpot .jackpot_container h2 {
    font-size: 42px;
  }
}
.jackpot .jackpot_container .jackpot_game img {
  width: 100%;
}
.jackpot .jackpot_container button {
  margin-top: 20px;
  margin-bottom: 48px;
}
.jackpot .jackpot_container p {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #db203b;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .jackpot .jackpot_container p {
    font-size: 28px;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.faq h1 {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
@media screen and (min-width: 640px) {
  .faq h1 {
    font-size: 64px;
  }
}
.faq .faq_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.faq .faq_container .list {
  flex: 1 1 0px;
  max-width: 820px;
  width: 100%;
  margin-bottom: 40px;
}
.faq .faq_container .list .item {
  margin-bottom: 60px;
}
.faq .faq_container .list .item h3 {
  margin-bottom: 12px;
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: black;
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (min-width: 640px) {
  .faq .faq_container .list .item h3 {
    font-size: 28px;
  }
}
.faq .faq_container .list .item p {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
  opacity: 0.75;
  text-align: center;
  font-weight: bold;
}
@media screen and (min-width: 640px) {
  .faq .faq_container .list .item p {
    font-size: 18px;
  }
}
.faq .faq_container .list .item:last-child {
  margin-bottom: 0px;
}
.faq .faq_container .prefooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.faq .faq_container .prefooter img {
  width: 100%;
}
.faq .faq_container .prefooter h4 {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: #672381;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .faq .faq_container .prefooter h4 {
    font-size: 64px;
  }
}
.faq .faq_container .prefooter p {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .faq .faq_container .prefooter p {
    font-size: 42px;
  }
}

/*# sourceMappingURL=style.css.map */
