* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.scrollDisabled {
  overflow-y: hidden !important;
}

.background {
  @include flex(row, center, center, false);
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: url("../images/bg.png"), radial-gradient(circle, rgba(254,220,121,1) 0%, rgba(219,26,61,1) 88%);;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
}

.wrapper {
  width: 100%;
}

input, select {
  outline: none;
}

.btn {
  outline: none;
  border: none;
  background-color: $secondary;
  border-radius: 5px;
  cursor: pointer;

  padding: 8px 32px;

  @include ff-gothic;
  @include font-size($text-xs);
  color: $white;

  transition: transform 0.2s cubic-bezier(0.65, 0.39, 0.5, 1.63);

  &:hover {
    transform: translateY(-4px);
  }
}