@mixin ff-gothic {
  font-family: $gothic;
  font-style: normal;
  font-weight: normal;
}

@mixin text-xl {
  font-size: $text-xl;
  line-height: 101px;
}
@mixin text-l {
  font-size: $text-l;
  line-height: 76px;
}
@mixin text-m {
  font-size: $text-m;
  line-height: 50px;
}
@mixin text-s {
  font-size: $text-s;
  line-height: 32px;
}
@mixin text-xs {
  font-size: $text-xs;
  line-height: 22px;
}

@mixin flex($fd, $jc, $ai, $wrap) {
  display: flex;
  @if $fd == column {
    flex-direction: column;
  } @else if $fd == row{
    flex-direction: row;
  }
  @if $jc == center {
    justify-content: center;
  } @else if $jc == start{
    justify-content: flex-start;
  } @else if $jc == end{
    justify-content: flex-end;
  } @else if $jc == between{
    justify-content: space-between;
  } @else if $jc == around{
    justify-content: space-around;
  }@else if $jc == evenly{
    justify-content: space-evenly;
  }@else if $jc == stretch{
    justify-content: stretch;
  }
  @if $ai == center {
    align-items: center;
  } @else if $ai == start{
    align-items: flex-start;
  } @else if $ai == end{
    align-items: flex-end;
  } @else if $ai == stretch{
    align-items: stretch;
  }
  @if $wrap {
    flex-wrap: wrap;
  } @else {
    flex-wrap: nowrap;
  }
}