// COLORS START
$black: black;
$white: white;
$primary: #db203b;
$secondary: #f7aa08;

// COLORS END

// TYPOGRAPHY START
$gothic: 'Gothic';
$text-xl: 84px;
$text-l: 63px;
$text-m: 42px;
$text-s: 28px;
$text-xs: 18px;
// TYPOGRAPHY END