// COLORS START
$black: black;
$white: white;
$primary: #db203b;
$secondary: #f7aa08;

// COLORS END

// TYPOGRAPHY START
$gothic: 'Gothic';
$text-xl: (null: 42px, 640px: 84px);
$text-l:  (null: 32px, 640px: 64px);
$text-m:  (null: 20px, 640px: 42px);
$text-s:  (null: 14px, 640px: 28px);
$text-xs: (null: 14px, 640px: 18px);